# ========================
# Unity Projesi İçin GitIgnore
# ========================

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
MemoryCaptures/
UserSettings/
*.tmp
*.bak
*.log

# ❌ IDE / Derleyici dosyaları
.vs/
.gradle/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db


*.pidb.meta
*.pdb.meta
*.mdb.meta


*.apk
*.aab
*.unitypackage
*.app
*.exe
*.dll

.DS_Store
*.swp
*.swo

.idea/

Assets/Unity.VisualScripting.Generated/**

!*.fbx
!*.obj
!*.prefab
!*.unity
!*.mat
!*.shader
!*.cs
!*.png
!*.jpg
!*.jpeg
!*.tga
!*.psd
!*.exr
!*.hdr
!*.wav
!*.mp3
!*.ttf
!*.otf
!*.anim
!*.controller
!*.overrideController
!*.meta

!ProjectSettings/
!Assets/
